fopenclaw.com {

    basic_auth {
        admin $2a$14$REPLACE_WITH_YOUR_BCRYPT_HASH
    }

    log {
        output file /var/log/caddy/access.log
    }

    reverse_proxy openclaw-gateway:18789 {
	    header_up X-Forwarded-Proto {http.request.scheme}
	    header_up X-Forwarded-Host  {http.request.host}
	    header_up X-Forwarded-For   {http.request.remote}
	    header_up Host              {http.request.host}
}
}

www.fopenclaw.com {
    redir https://fopenclaw.com{uri} permanent
}
